<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Main Index</title>
</head>
<body>
    <section>
        <h1>Main Index</h1>
        <div class="allButtons">
            <button></button>
            <a href="/bodies">Bodies</a>
            <a href="/notes">Notes</a>
        </div>
    </section>
</body>
</html>