<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  HELLo
  <!-- <nav>
    <h1>Skeleton</h1>
    <div class = "navButtons">
        <a href="/"><p id="home">Home</p></a>
        <a href="/bodies/new"><p id="addUser">Add New User</p></a>
        <a href="/bodies"><p id="allBodies">All Users</p></a>
    </div>
  </nav> -->
  <%- body %>
</body>
</html>