*{
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-color: #aaaaaa;
}
header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 150px 20px 80px;
}
nav #addUser{

}
#fullSkeleton{
    content:url("https://img.buzzfeed.com/store-an-image-prod-us-east-1/uvYmnYxub.png");
    width: auto;
    height: 700px;
}