*{
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-color: #aaaaaa;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    background-color: red;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 150px 20px 80px;
    width: 100vw;
}
nav #addUser{
    
}
#fullSkeleton{
    content:url("../images/fullBody.png");
    width: auto;
    height: 600px;
    margin-bottom: 20px;
}

#allButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: sandybrown;
    width: 400px;
}

#editDelete{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

#bodyParts{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}