body{
        min-height: 100vh;
        min-width: 100vw;
        background-image: url("../images/Skull anatomy.png");
        background-size: cover;
        background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    top: 10px;
}