*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-color: #e4e4e4;
}
header{
    background-color: red;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 150px 20px 80px;
}
nav #addUser{
    color: white;
}


.bodyList{
    flex-wrap: wrap;
}
.bodyPreview{
    background-color: #e7e1d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}
.bodyListElement{
    width: 300px;
    height: 300px;
}

.bodyAddressIndex{
    padding: 0 14px;
}
#fullSkeleton{
    content:url("https://img.buzzfeed.com/store-an-image-prod-us-east-1/uvYmnYxub.png");
    width: auto;
    height: 200px;
}