body{
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#head{
    content: url("../images/head.png");
    height: 600px;
    width: auto;
    background-color: salmon;
}
#arms{
    content: url("../images/arms.png");
    height: 300px;
    width: auto;
}
#legs{
    content: url("../images/legs.png");
    height: 300px;
    width: auto;
}
#torso{
    content: url("../images/torso.png");
    height: 300px;
    width: auto;
}

h2{
    margin-top:30px;
    margin-bottom: 20px;
}

button{
    width: 190px;
    height: 50px;
    font-size: larger;
}

.middleSection{
    display: flex;
    align-items: center;
}


.allMuscleButtons{
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin-bottom: 30px;
}