body{
    background-color: #D3DCE2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#head{
    content: url("../images/head.png");
    height: 600px;
    width: auto;
}
#arms{
    content: url("../images/arms.png");
    height: 300px;
    width: auto;
}
#legs{
    content: url("../images/legs.png");
    height: 300px;
    width: auto;
}
#torso{
    content: url("../images/torso.png");
    height: 300px;
    width: auto;
}

h2{
    margin-top:30px;
    margin-bottom: 20px;
}

button{
    width: 190px;
    height: 50px;
    font-size: larger;
}

.middleSection{
    display: flex;
    align-items: center;
}


.allMuscleButtons{
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin-bottom: 30px;
}

a{
    color: #000;
}

li{
    list-style-type:none;
    margin-top: 10px;
}
ul{
    width: 300px;
    padding-left: 0;
}

nav{
    background-color: #6185B7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 150px 20px 80px;
    height: 100px;
    width: 100%;
}
.navButtons{
    display: flex;
}
p{
    color: black;
    font-size: x-large;
    margin: 20px;
}
.displayMuscle{
    margin: 0px;
}
