<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Notes</title>
</head>
<body>
    <h1>Edit notes</h1>
    <form action="/notes/<%=note._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value= "<%=note.title%>" >
        </div>
        <div>
            <label for="text">Text:</label>
            <input type="text" id="text" name="text" value= "<%=note.text%>" >
        </div>
        <input type="submit" value="Edit Notes">
    </form>
</body>
</html>