<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../danielsCss/new.css">
    <title>New Notes</title>
</head>
<body>
    <h1>New Notes</h1>
    <form action="/notes" method="POST">
    <label for="title">Title</label>
    <input type="text" id="title" name="title">
    <label for="text">Text</label>
    <input type="text" id="text" name="text">
    <input type="submit" value="add note">
    </form>
</body>
</html>