<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/edit.css">
    <title>Edit User</title>
</head>
<body>

    <h1>Edit User</h1>
    <form action="/bodies/<%=body._id%>?_method=PUT" method="POST">

        <div>
            <label for="name">Name:</label>
            <input type="text" id = "name" name  = "name"value="<%= body.name%>" >
        </div>

        <input type="submit" value="Edit User">

    </form>
    <form action="/bodies/<%=body._id%>" method="GET">
        <button type="submit">Cancel</button>
    </form>
</body>
</html>