<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Body Index</title>
</head>
<body>
    <nav>
        <h1>Body Index</h1>
        <div class = "navButtons">
            <a href="/bodies/new"><p id="addUser">Add New User</p></a>
            <a href="/"><p id="home">Home</p></a>
        </div>
    </nav>
    <ul class = "bodyList">
        <% for(let i = 0 ; i < bodies.length; i++){ %> 
        <li class = "bodyListElement">
            <div class="insideDiv">
                <a href="/bodies/<%= bodies[i]._id %>">

                <div class = "bodyPreview">
                    <div id="fullSkeletonIndex"></div>
                    <h4 class="bodyName"><%= bodies[i].name %></h4>
                </div>

                </a>
            </div>
        </li>
         <% } %> 
    </ul>
</body>
</html>