<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Body Index</title>
</head>
<body>
    <header>
        <h1>Body Index</h1>
        <nav>
            <a href="/bodies/new"><p id="addUser">Add User</p></a>
        </nav>
    </header>
    <ul class = "bodyList">
        <% for(let i = 0 ; i < bodies.length; i++){ %> 
        <li class = "bodyListElement">
            <a href="/bodies/<%= bodies[i]._id %>">
            <div class = "bodyPreview">
            <div id="fullSkeleton"></div>
            <p class="bodyName"><%= bodies[i].name %></p>
            </a>
        </li>
         <% } %> 
    </ul>
</body>
</html>